body {
    background: #FFCC33;
    text-align: center;
}
.random {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: calc(20% + 50px);
    background: white;
    padding: 10px;
    border-radius: 20px;
    font-family: sans-serif;
    margin-top: 20px;
}
.form {
    margin-top: 50px;
}
#text {
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: width 0.5s ease;
    color: black;
    font-family: sans-serif;
    vertical-align: middle;
}
#text::placeholder {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}
.text {
    width: 21%;
}
#search {
    padding: 10px;
    font-size: 20px;
    background: white;
    margin-left: -20px;
    outline: none;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle;
}
#text.open {
    width: 30%;
}
.wrapper {
    width: 34%;
    margin: 20px auto;
    font-family: sans-serif;
}
.wrapper h2 {
    margin: 0 0 10px;
}
.wrapper a {
    color: black;
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}
.wrapper div {
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px 20px 20px;
}